header.header
    .container
        .logo.header-logo
            +icon('logo')
        ul.header-nav__list
            li.header-nav__item
                a(href="tel:").header__phone 8 800 800-80-80
            li.header-nav__item
                a(href="").header-nav__link Обратный звонок
            li.header-nav__item
                a(href="").header-nav__link Адреса салонов
        ul.header-nav__list
            li.header-nav__item
                +icon('basket','header-nav__item-icon')
                a(href="").header-nav__link Как заказать
            li.header-nav__item
                +icon('payment','header-nav__item-icon')
                a(href="").header-nav__link Оплата
            li.header-nav__item
                +icon('delivery','header-nav__item-icon')
                a(href="").header-nav__link Доставка
        ul.header-nav__list
            li.header-nav__item
                +icon('location','header-nav__item-icon')
                a(href="").header-nav__link Санкт-Петербург
            li.header-nav__item
                +icon('login','header-nav__item-icon')
                a(href="").header-nav__link Войти
            li.header-nav__item
                +icon('register','header-nav__item-icon')
                a(href="").header-nav__link Зарегистрироваться


