.popular {
  background-image: url("../images/general/popular_bg.jpg");
  background-size: cover;
  background-position: center;
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 35px;
    &__item {
      margin-bottom: 15px;
      width: 19%;
      text-align: left;
    }
    &__link {
      display: inline-block;
      margin-right: 5px;
      color: @white;
      text-transform: uppercase;
      border-bottom: 1px solid @linkBorderColor;
    }
    &__country {
      color: @accentColor;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(@black,.5);
  }
}