.tab-content__item.tab-payment
    .page-banner.page-banner--for-customer.page-banner--payment
        .container
            .page-banner__content.page-benner__content--payment
                h2.g-section-title Об оплате
                p.page-banner__text Если вы увлечены как самой едой, так и ее приготовлением, вы, скорее всего, неравнодушны к винам. Также вполне вероятно, что в один прекрасный момент вас может посетить мысль купить винный шкаф для правильного хранения вина, подаренного друзюями, привезенного из-за границы или купленного по случаю.
