

section.recommended
    .container
        h2.g-section-title Рекомендуемые товары
        .recommended-slider
            .js-recommended-slider
                include ../product-prev/product-prev1
                include ../product-prev/product-prev2
                include ../product-prev/product-prev3
                include ../product-prev/product-prev4
                include ../product-prev/product-prev1
                include ../product-prev/product-prev2
                include ../product-prev/product-prev3
                include ../product-prev/product-prev4
            .product-prev-slider__nav
                .product-prev-slider__controls.product-prev-slider__controls--prev
                    +icon('chevron-left','product-prev-slider__controls-icon')
                .product-prev-slider__controls.product-prev-slider__controls--next
                    +icon('chevron-right','product-prev-slider__controls-icon')


