.product-prev
    img(src="static/images/content/products/product1/prev.jpg").product-prev__img
    .product-prev__content
        a(href="").product-prev__title Набор чайный "Ричоло" CHINELLI
        +productInfoLine('Материал: ','фарфор')
        +productInfoLine('Покрытие: ','глазурь')
        +productInfoLine('Страна: ','Италия')
        +productInfoLine('Вид упаковки: ','подарочная')
        .product-prev__line-price
            span.product-price 9 155 &#8381;
            .product-availability
                +icon('clock','product-prev__icon')
                span Под заказ
        .product-prev__line-action
            .product-prev__action.product-prev__action--favorite
                +icon('favorites','product-prev__icon')
                span В избранное
            .product-prev__action.product-prev__action--comparison
                +icon('comparison','product-prev__icon')
                span Сравнить
    .product-prev__btn
        a(href="").g-btn.g-btn--black В корзину