.product-prev
    img(src="static/images/content/products/product1/prev.jpg").product-prev__img
    .product-prev__content
        a(href="").product-prev__title Набор бокалов для красного вина серия-Frau, SCHOTT ZWIESEL
        +productInfoLine('Материал: ','хрустальное стекло')
        +productInfoLine('Высота: ','22.9 см')
        +productInfoLine('Диаметр: ','9.1 см')
        +productInfoLine('Назначение: ','для красного вина')
        .product-prev__line-price
            span.product-price 635 &#8381;
            .product-availability
                +icon('mark','product-prev__icon')
                span Есть в наличии
        .product-prev__line-action
            .product-action.product-prev__action--favorite
                +icon('favorites','product-prev__icon')
                span В избранное
            .product-action.product-prev__action--comparison
                +icon('comparison','product-prev__icon')
                span Сравнить
    .product-prev__btn
        a(href="").g-btn.g-btn--black В корзину