.product-prev
    img(src="static/images/content/products/product1/prev.jpg").product-prev__img
    .product-prev__content
        a(href="").product-prev__title Блюдо "Smiley", EVA SOLO
        +productInfoLine('Вид упаковки: ','подарочная')
        +productInfoLine('Материал: ','стекло')
        +productInfoLine('Диаметр: ','21 см')
        +productInfoLine('Страна: ','Дания')
        .product-prev__line-price
            span.product-price 8 200 &#8381;
            .product-availability
                +icon('clock','product-action__icon')
                span Под заказ
        .product-prev__line-action
            .product-action.product-action--favorite
                +icon('favorites','product-action__icon')
                a(href="") В избранное
            .product-action.product-action--comparison
                +icon('comparison','product-action__icon')
                a(href="") Сравнить
    .product-prev__btn
        a(href="").g-btn.g-btn--black В корзину