.product-prev
    img(src="static/images/content/products/product1/prev.jpg").product-prev__img
    .product-prev__content
        a(href="").product-prev__title Блендер погружной Six SFB.555, STADLER FORM MBT
        +productInfoLine('Вес: ','1.3 кг')
        +productInfoLine('Количество насадок: ','9')
        +productInfoLine('Звуковой сигнал: ','нет')
        +productInfoLine('Защита от детей: ','есть')
        .product-prev__line-price
            span.product-price 9 990 &#8381;
            .product-availability
                +icon('mark','product-action__icon')
                span Есть в наличии
        .product-prev__line-action
            .product-action.product-action--favorite
                +icon('favorites','product-action__icon')
                a(href="") В избранное
            .product-action.product-action--comparison
                +icon('comparison','product-action__icon')
                a(href="") Сравнить
    .product-prev__btn
        a(href="").g-btn.g-btn--black В корзину