section.brands
    .container
        h2.g-section-title Винные шкафы. Бренды
        ul.brands-list
            +brandItem('','IP ','Италия')
            +brandItem('','Restart ','Италия')
            +brandItem('','SUB-ZERO ','США')
            +brandItem('','Kitchen Aid ','США')
            +brandItem('','Liebherr ','Германия')
            +brandItem('','Electrolux ','Швеция')
            +brandItem('','V-ZUG ','Швейцария')
            +brandItem('','Kupperbusch ','Германия')
            +brandItem('','AEG ','Германия')
            +brandItem('','Fulgor Milano ','Италия')
            +brandItem('','Miele ','Германия')
            +brandItem('','De Dietrich ','Франция')
            +brandItem('','Vestfrost ','Дания')
            +brandItem('','Dunavox ','Венгрия')
            +brandItem('','Gaggenau ','Италия')
            +brandItem('','Fhiaba ','Италия')
            +brandItem('','Gemm ','Италия')
            +brandItem('','Smeg ','Италия')
