.promo-news-prev
    .promo-news-prev__img(style="background-image:url('static/images/content/promo/promo1/prev.jpg')")
    .promo-news-prev__content
        span.promo-news-prev__date 01 сентября 2016
        a(href="").promo-news-prev__title Кухонный процессор KitchenAid: разбираем на детали
        p.promo-news-prev__text Сегодня техника KitchenAid популярна по всему миру, ею пользуются профессионалы и те, кто обучает кулинарному мастерству. На смену миксерам пришли не менее выдающиеся приборы, среди которых - кухонный комбайн (он же - процессор) Artisan