extends template/main

block variables
    - var title = 'Информация для покупателей'
    - var pageClass = 'for-customer'

block content




block script
    script(src="https://www.youtube.com/iframe_api")