extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include pages/index/slider
	include pages/index/pic-menu
	include pages/index/recommended
	include pages/index/popular
	include pages/index/video

block script
	script(src="https://www.youtube.com/iframe_api")