section.news
    .container
        h2.g-section-title Новости магазина
        .promo-news-wrap
            include ../../modules/promo-news-prev/news-prev

        .content-center
            a(href="").g-btn.g-btn--black Все новости