mixin picMenuLink(link,title)
    li.pic-menu-list__item
        a(href= link)= title

section.pic-menu
    .container
        .pic-menu__line
            .pic-menu__50
                .pic-menu__line
                    .pic-menu__25
                        .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25.jpg')")
                            .pic-menu__nav
                                a(href="").pic-menu__title Мебель
                                ul.pic-menu-list
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Кухни
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Столы
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Стулья
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Барная
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link мебель
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Еще 15 разделов

                    .pic-menu__25
                        .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25.jpg')")
                            .pic-menu__nav
                                a(href="").pic-menu__title Хранение вина
                                ul.pic-menu-list
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Мебель для хранения
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Винные
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link шкафы
                                    li.pic-menu-list__item
                                        a(href="").pic-menu-list__link Еще 3 раздела
                .pic-menu__line
                    .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25-25.jpg')")
                        .pic-menu__nav
                            a(href="").pic-menu__title Крупная и мелкая бытовая техника
                            ul.pic-menu-list
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Холодильники
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Морозильники
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Варочные центры
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Еще 10 разделов
                            ul.pic-menu-list
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Кулеры
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Пурефаеры
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Чайники
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Еще 27 разделов
            .pic-menu__item.pic-menu-review(style="background-image:url('static/images/content/pic-menu/pic-menu__50.jpg')")
                .pic-menu-review__content
                    span.pic-menu-review__title Лучшая кухонная утварь у нас!
                    p.pic-menu-review__text Неконсервативная сила категорически влияет на составляющие гироскопического момента больше, чем гравитационный предел функции. Неравенство Бернулли, в первом приближении, относительно.
                    .pic-menu-review__info
                        span.pic-menu-review__author Дмитрий Сметанин
                        span.pic-menu-review__author-work Телеведущий
                    .pic-menu-review__bottom
                        a(href="").g-btn Узнать больше

        .pic-menu__line
            .pic-menu__50
                .pic-menu__25
                    .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25.jpg')")
                        .pic-menu__nav
                            a(href="").pic-menu__title Бар и хрусталь
                            ul.pic-menu-list
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Стекло и хрусталь
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Еще 32 раздела

                .pic-menu__25
                    .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25.jpg')")
                        .pic-menu__nav
                            a(href="").pic-menu__title Ножи
                            ul.pic-menu-list
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Наборы ножей
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Ножи
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link поварские
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Еще 11 разделов

            .pic-menu__50
                .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25-25.jpg')")
                    .pic-menu__nav
                        a(href="").pic-menu__title Посуда
                        ul.pic-menu-list
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Наборы посуды
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Наборы кастрюль
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Кастрюли
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Крышки и съемные
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link ручки
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Еще 20 разделов






        .pic-menu__line
            .pic-menu__50
                .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25-25.jpg')")
                    .pic-menu__nav
                        a(href="").pic-menu__title Кухонная утварь
                        ul.pic-menu-list
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Наборы кухонных аксессуаров
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Банки для сыпучих продуктов
                            li.pic-menu-list__item
                                a(href="").pic-menu-list__link Еще 45 разделов
            .pic-menu__50
                .pic-menu__25
                    .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25.jpg')")
                        .pic-menu__nav
                            a(href="").pic-menu__title Сервировка
                            ul.pic-menu-list
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Блюда для закусок
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Менажницы
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Еще 32 раздела

                .pic-menu__25
                    .pic-menu__item(style="background-image:url('static/images/content/pic-menu/pic-menu__25.jpg')")
                        .pic-menu__nav
                            a(href="").pic-menu__title Текстиль
                            ul.pic-menu-list
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Салфетки подстановочные
                                li.pic-menu-list__item
                                    a(href="").pic-menu-list__link Еще 45 разделов







