section.popular
    .container
        h2.g-section-title.g-section-title--white Популярные бренды
        ul.brands-list
            +brandItem('','ADHOC ','Германия')
            +brandItem('','aladdin ','США')
            +brandItem('','alessi ','Италия')
            +brandItem('','amt ','Германия')
            +brandItem('','arcos ','Испания')
            +brandItem('','bauscher ','Германия')
            +brandItem('','beka ','бельгия')
            +brandItem('','bialetti ','Италия')
            +brandItem('','black+blum ','Великобритания')
            +brandItem('','blomus ','Германия')
            +brandItem('','bodum ','Швейцария')
            +brandItem('','boker ','Германия')
            +brandItem('','bugatti ','Италия')
            +brandItem('','cristel ','Франция')
            +brandItem('','cutipol ','Португалия')
            +brandItem('','del ben ','Италия')
            +brandItem('','edgeware ','США')
            +brandItem('','element ','Швейцария')
            +brandItem('','emerald  ','Таиланд')
            +brandItem('','emily henry  ','Франция')
            +brandItem('','emily  ','Китай')
            +brandItem('','eva solo  ','Дания')
            +brandItem('','evercut  ','Франция')
            +brandItem('','fissler  ','Германия')
            +brandItem('','garnier-thiebaut  ','Франция')
            +brandItem('','giorinox  ','Германия')
            +brandItem('','green pan  ','Бельгия')
            +brandItem('','guede ','Германия')
            +brandItem('','guzzini ','Италия')
            +brandItem('','ibili ','Испания')
            +brandItem('','ivv ','Италия')
            +brandItem('','jacob jensen ','Дания')
            +brandItem('','joseph joseph ','Великобритания')
            +brandItem('','kinto ','Япония')
            +brandItem('','kitchen aid ','США')
            +brandItem('','koziol ','Германия')
            +brandItem('','kyocera ','Япония')
            +brandItem('','lacor ','Испания')
            +brandItem('','legnoart ','Италия')
            +brandItem('','lekue ','Испания')
            +brandItem('','les-artistes-paris ','Франция')
            +brandItem('','loooqs ','Нидерланды')
            +brandItem('','lurch ','Германия')
            +brandItem('','medard de noblat ','Франция')
            +brandItem('','melior ','Швейцария')
            +brandItem('','microplane ','США')
            +brandItem('','midori ','Китай')
            +brandItem('','monbento ','Франция')
            +brandItem('','nachtmann ','Германия')
            +brandItem('','nakumi ','Япония')
            +brandItem('','novis vita ','Швейцария')
            +brandItem('','nuance ','Дания')
            +brandItem('','peugeot ','Франция')
        .content-center
            a(href="").g-btn Все бренды
