mixin popularItem(link,title,country)
    li.popular-list__item
        a(href= link).popular-list__link= title
        span.popular-list__country= country

section.popular
    .container
        h2.g-section-title.g-section-title--white Популярные бренды
        ul.popular-list
            +popularItem('','ADHOC ','Германия')
            +popularItem('','aladdin ','США')
            +popularItem('','alessi ','Италия')
            +popularItem('','amt ','Германия')
            +popularItem('','arcos ','Испания')
            +popularItem('','bauscher ','Германия')
            +popularItem('','beka ','бельгия')
            +popularItem('','bialetti ','Италия')
            +popularItem('','black+blum ','Великобритания')
            +popularItem('','blomus ','Германия')
            +popularItem('','bodum ','Швейцария')
            +popularItem('','boker ','Германия')
            +popularItem('','bugatti ','Италия')
            +popularItem('','cristel ','Франция')
            +popularItem('','cutipol ','Португалия')
            +popularItem('','del ben ','Италия')
            +popularItem('','edgeware ','США')
            +popularItem('','element ','Швейцария')
            +popularItem('','emerald  ','Таиланд')
            +popularItem('','emily henry  ','Франция')
            +popularItem('','emily  ','Китай')
            +popularItem('','eva solo  ','Дания')
            +popularItem('','evercut  ','Франция')
            +popularItem('','fissler  ','Германия')
            +popularItem('','garnier-thiebaut  ','Франция')
            +popularItem('','giorinox  ','Германия')
            +popularItem('','green pan  ','Бельгия')
            +popularItem('','guede ','Германия')
            +popularItem('','guzzini ','Италия')
            +popularItem('','ibili ','Испания')
            +popularItem('','ivv ','Италия')
            +popularItem('','jacob jensen ','Дания')
            +popularItem('','joseph joseph ','Великобритания')
            +popularItem('','kinto ','Япония')
            +popularItem('','kitchen aid ','США')
            +popularItem('','koziol ','Германия')
            +popularItem('','kyocera ','Япония')
            +popularItem('','lacor ','Испания')
            +popularItem('','legnoart ','Италия')
            +popularItem('','lekue ','Испания')
            +popularItem('','les-artistes-paris ','Франция')
            +popularItem('','loooqs ','Нидерланды')
            +popularItem('','lurch ','Германия')
            +popularItem('','medard de noblat ','Франция')
            +popularItem('','melior ','Швейцария')
            +popularItem('','microplane ','США')
            +popularItem('','midori ','Китай')
            +popularItem('','monbento ','Франция')
            +popularItem('','nachtmann ','Германия')
            +popularItem('','nakumi ','Япония')
            +popularItem('','novis vita ','Швейцария')
            +popularItem('','nuance ','Дания')
            +popularItem('','peugeot ','Франция')
        .content-center
            a(href="").g-btn Все бренды
