section.promo
    .container
        h2.g-section-title Акции
        .promo-news-wrap
            include ../../modules/promo-news-prev/promo-prev

        .content-center
            a(href="").g-btn.g-btn--black Все акции