mixin productPrevLine(key,val)
    .product-prev__line-info
        span.product-prev__key= key
        span.product-prev__val= val

section.recommended
    .container
        h2.g-section-title Рекомендуемые товары
        .recommended-slider
            .js-recommended-slider
                include ../../modules/product-prev/product-prev1
                include ../../modules/product-prev/product-prev2
                include ../../modules/product-prev/product-prev3
                include ../../modules/product-prev/product-prev4
                include ../../modules/product-prev/product-prev1
                include ../../modules/product-prev/product-prev2
                include ../../modules/product-prev/product-prev3
                include ../../modules/product-prev/product-prev4
            .product-prev-slider__nav
                .product-prev-slider__controls.product-prev-slider__controls--prev
                    +icon('chevron-left','product-prev-slider__controls-icon')
                .product-prev-slider__controls.product-prev-slider__controls--next
                    +icon('chevron-right','product-prev-slider__controls-icon')


