section.index-slider
    .index-slider__controls.index-slider__controls--prev
        +icon('chevron-up','index-slider__controls-icon')
    .index-slider__controls.index-slider__controls--next
        +icon('chevron-down','index-slider__controls-icon')
    .js-index-slider
        include main-slider/slide1
        include main-slider/slide2
        include main-slider/slide3