section.subscribe
    .container
        h2.g-section-title.g-section-title--white Подпишитесь на новости
        .subscribe-form__wrap
            .subscribe-form__content
                form.subscribe-form
                    label.g-label Ваш e-mail
                    input(type="email").g-input.g-input--email
                    input(type="submit" value='Подписаться').g-btn.g-btn--no-underline
                p.subscribe-text Раз в неделю мы рассказываем о поступлениях новых товаров, акциях и новостях нашего магазина. В любой момент сможете отказаться от подписки. Без спама.


