.index-slider__item
    img(src="static/images/content/main-slider/slide3.jpg" alt="Слайдер на главной странице").index-slider__img
    .index-slider__content
        span.index-slider__title Чугунная <br> кастрюля Staub 3
        .slider-product-info
            .product-colors.slider-product-info__item
                span.slider-product-info__title Цвета
                .slider-product-info__line
                    .slider-product-info__color.product-color(style='background-color: #000')
                    span Черный
                .slider-product-info__line
                    .slider-product-info__color.product-color(style='background-color: red')
                    span Вишневый
                .slider-product-info__line
                    .slider-product-info__color.product-color(style='background-color: #ccc')
                    span Серый графит
            .product-params.slider-product-info__item
                span.slider-product-info__title Параметры
                .slider-product-info__line
                    +icon('diameter','slider-product-info__icon')
                    span 30 см
                .slider-product-info__line
                    +icon('bowl','slider-product-info__icon')
                    span 8.35 л

        a(href="").g-btn О кастрюле 3