.g-btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background-color: @white;
  text-transform: uppercase;
  text-decoration: underline;
  border: 0;
  cursor: pointer;
  &:visited { color: @black; }
  &.g-btn--no-underline {
    text-decoration: none;
  }
  &.g-btn--black {
    background-color: @blackColor;
    color: @white;
  }
}

.g-section-title {
  margin-bottom: 35px;
  font-family: @bold-font;
  font-size: 32px;
  text-align: center;
  &.g-section-title--white { color: @white; }
}

.content-center {
  text-align: center;
}

.cont {
  &-50 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 49.5%;
  }
  &-25 {
    width: 49%;
    flex-shrink: 0;
  }
  &-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.social-list {
  display: flex;
  &__item {
    width: 35px;
    height: 35px;
    border: 2px solid @white;
    margin-left: -2px;
    &:first-child { margin-left: 0;}
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    fill: @white;
  }
}