.g-btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background-color: @white;
  text-transform: uppercase;
  text-decoration: underline;
  border: 0;
  cursor: pointer;
  &:visited { color: @black; }
  &.g-btn--no-underline {
    text-decoration: none;
  }
  &.g-btn--black {
    background-color: @blackColor;
    color: @white;
  }
}

.g-section-title {
  margin-bottom: 35px;
  font-family: @bold-font;
  font-size: 32px;
  text-align: center;
  &.g-section-title--white { color: @white; }
}

.content-center {
  text-align: center;
}