mixin faqItem(title,text)
    .faq-item
        span.faq__title= title
        .faq__content
            p.faq__text= text

.tab-content__item.tab-faq
    .product-faq
        +faqItem('Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.',
                 'Посуда Stolzle имеет целый ряд преимуществ, одно из которых – чистейшее сырье: хрусталь Stolzle не имеет в своем составе оксида свинца, который, как известно, оказывает неблагоприятное воздействие на здоровье человека. Стильный и воздушный дизайн изделий не оставит равнодушным ни одного ценителя стеклянной посуды.')
        +faqItem('Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.',
                 'Посуда Stolzle имеет целый ряд преимуществ, одно из которых – чистейшее сырье: хрусталь Stolzle не имеет в своем составе оксида свинца, который, как известно, оказывает неблагоприятное воздействие на здоровье человека. Стильный и воздушный дизайн изделий не оставит равнодушным ни одного ценителя стеклянной посуды.')
        +faqItem('Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.',
                 'Посуда Stolzle имеет целый ряд преимуществ, одно из которых – чистейшее сырье: хрусталь Stolzle не имеет в своем составе оксида свинца, который, как известно, оказывает неблагоприятное воздействие на здоровье человека. Стильный и воздушный дизайн изделий не оставит равнодушным ни одного ценителя стеклянной посуды.')
