mixin faqItem(title,text)
    .accordion-item
        .accordion-item-top
            span.accordion-title.faq-title= title
        .accordion-content
            p.accordion-text= text

.tab-content__item.tab-faq
    .product-faq
        +faqItem('Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.',
                 'Посуда Stolzle имеет целый ряд преимуществ, одно из которых – чистейшее сырье: хрусталь Stolzle не имеет в своем составе оксида свинца, который, как известно, оказывает неблагоприятное воздействие на здоровье человека. Стильный и воздушный дизайн изделий не оставит равнодушным ни одного ценителя стеклянной посуды.')
        +faqItem('Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.',
                 'Посуда Stolzle имеет целый ряд преимуществ, одно из которых – чистейшее сырье: хрусталь Stolzle не имеет в своем составе оксида свинца, который, как известно, оказывает неблагоприятное воздействие на здоровье человека. Стильный и воздушный дизайн изделий не оставит равнодушным ни одного ценителя стеклянной посуды.')
        +faqItem('Аналогия, не учитывая количества слогов, стоящих между ударениями, рассматривается возврат к стереотипам.',
                 'Посуда Stolzle имеет целый ряд преимуществ, одно из которых – чистейшее сырье: хрусталь Stolzle не имеет в своем составе оксида свинца, который, как известно, оказывает неблагоприятное воздействие на здоровье человека. Стильный и воздушный дизайн изделий не оставит равнодушным ни одного ценителя стеклянной посуды.')
