section.catalog-result
    .container
        include catalog-sort
        .catalog-view
            .catalog-view__item
                .catalog-view__img
                    img(src="static/images/content/products/catalog/product1/prev.jpg")
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .product-prev__content
                    a(href="").product-prev__title Винный шкаф Liebherr WKEes553 GrandCru
                    +productInfoLine('Торговая марка: ','Liebherr (Германия)')
                    .product-prev__line-price
                        span.product-price 247 500 &#8381;
                        .product-availability
                            +icon('mark','product-action__icon')
                            span Есть в наличии
                .product-prev__btn
                    a(href="").g-btn.g-btn--border-black В корзину
            .catalog-view__item
                .catalog-view__img
                    img(src="static/images/content/products/catalog/product1/prev.jpg")
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .product-prev__content
                    a(href="").product-prev__title Винный шкаф Liebherr WKEes553 GrandCru
                    +productInfoLine('Торговая марка: ','Liebherr (Германия)')
                    .product-prev__line-price
                        span.product-price 247 500 &#8381;
                        .product-availability
                            +icon('mark','product-action__icon')
                            span Есть в наличии
                .product-prev__btn
                    a(href="").g-btn.g-btn--border-black В корзину

            .catalog-view__item
                .catalog-view__img
                    img(src="static/images/content/products/catalog/product1/prev.jpg")
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .product-prev__content
                    a(href="").product-prev__title Винный шкаф Liebherr WKEes553 GrandCru
                    +productInfoLine('Торговая марка: ','Liebherr (Германия)')
                    .product-prev__line-price
                        span.product-price 247 500 &#8381;
                        .product-availability
                            +icon('mark','product-action__icon')
                            span Есть в наличии
                .product-prev__btn
                    a(href="").g-btn.g-btn--border-black В корзину
            .catalog-view__item
                .catalog-view__img
                    img(src="static/images/content/products/catalog/product1/prev.jpg")
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .product-prev__content
                    a(href="").product-prev__title Винный шкаф Liebherr WKEes553 GrandCru
                    +productInfoLine('Торговая марка: ','Liebherr (Германия)')
                    .product-prev__line-price
                        span.product-price 247 500 &#8381;
                        .product-availability
                            +icon('mark','product-action__icon')
                            span Есть в наличии
                .product-prev__btn
                    a(href="").g-btn.g-btn--border-black В корзину
        
        .catalog-nav
            a(href="").g-btn.g-btn--black.g-btn--no-underline Показать еще
            ul.catalog-pag
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--first
                        +icon('chevron-left','catalog-pag__icon')
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--prev
                        +icon('chevron-left','catalog-pag__icon')
                li.catalog-pag__item
                    a.catalog-pag__link.active
                        span 1
                li.catalog-pag__item
                    a.catalog-pag__link
                        span 2
                li.catalog-pag__item
                    a.catalog-pag__link
                        span 3
                li.catalog-pag__item
                    a.catalog-pag__link
                        span 4
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--next
                        +icon('chevron-right','catalog-pag__icon')
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--last
                        +icon('chevron-right','catalog-pag__icon')
