section.catalog-result
    .container
        include catalog-sort
        .catalog-view.catalog-view--lines
            include product1
            include product1
            include product1
            include product1
        .catalog-nav
            a(href="").g-btn.g-btn--black.g-btn--no-underline Показать еще
            ul.catalog-pag
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--first
                        +icon('chevron-left','catalog-pag__icon')
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--prev
                        +icon('chevron-left','catalog-pag__icon')
                li.catalog-pag__item
                    a.catalog-pag__link.active
                        span 1
                li.catalog-pag__item
                    a.catalog-pag__link
                        span 2
                li.catalog-pag__item
                    a.catalog-pag__link
                        span 3
                li.catalog-pag__item
                    a.catalog-pag__link
                        span 4
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--next
                        +icon('chevron-right','catalog-pag__icon')
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--last
                        +icon('chevron-right','catalog-pag__icon')
