.catalog-view__item
    .catalog-view__img
        img(src="static/images/content/products/catalog/product1/prev.jpg")
        span.g-btn.g-btn--border-black Быстрый просмотр
    .catalog-view__slider
        .js-catalog-view__slider
            .catalog-view__slider-item(data-thumb="static/images/content/products/catalog/product1/slider/slide-mini-1.jpg")
                img(data-lazy="static/images/content/products/catalog/product1/prev.jpg")
            .catalog-view__slider-item(data-thumb="static/images/content/products/catalog/product1/slider/slide-mini-1.jpg")
                img(data-lazy="static/images/content/products/catalog/product1/prev.jpg")
            .catalog-view__slider-item(data-thumb="static/images/content/products/catalog/product1/slider/slide-mini-1.jpg")
                img(data-lazy="static/images/content/products/catalog/product1/prev.jpg")
    .product-prev__content
        .product-prev__title
            a(href="") Винный шкаф Liebherr WKEes553 GrandCru
        .product-prev__middle-content
            .product-lines-info
                +productInfoLine('Артикул: ','144-4359')
                +productInfoLine('Торговая марка: ','Liebherr (Германия)')(class="product-line-info--prev")
                +productInfoLine('Высота: ','192 см')
                +productInfoLine('Ширина: ','70 см')
                +productInfoLine('Защита от детей: ','есть')
            .product-prev__link
                a(href="product.html") Подробнее о товаре
            .product-actions.product-actions--2col
                .product-action.product-action--favorite
                    +icon('favorites','product-action__icon')
                    a(href="") В избранное
                .product-action.product-action--comparison
                    +icon('comparison','product-action__icon')
                    a(href="") Сравнить
                .product-action.share
                    +icon('share','product-action__icon')
                    a(href="") Поделиться
                    .share-popup
                        .share-line
                            +icon('share','share__icon')
                            a(href="") Скопировать ссылку
                        .share-line
                            +icon('mail','share__icon')
                            a(href="") Отправить ссылку на почту
                        .share-line
                            +icon('vk','share__icon')
                            a(href="") Версия для печати
                        .share-line
                            +icon('share','share__icon')
                            a(href="") Поделиться с друзьями
            .product-prev__line-price
                span.product-price 247 500 &#8381;
                .product-availability
                    +icon('mark','product-action__icon')
                    span Есть в наличии
            .product-prev__text Две температурных зоны обеспечат хранение различных сортов напитка в необходимых условиях, светодиодное освещение внутри камеры холодильника очень удобно. Чтобы посторонние запахи не испортили качество напитка, производитель позаботился о свежести внутри шкафа.
        .product-prev__btn
            a(href="").g-btn.g-btn--border-black.g-btn-buy В корзину
            a(href="").g-btn.g-btn--border-black.g-btn-one-click Купить в 1 клик
        .product-actions.product-actions--lines
            .product-action.product-action--favorite
                +icon('favorites','product-action__icon')
                a(href="") В избранное
            .product-action.product-action--comparison
                +icon('comparison','product-action__icon')
                a(href="") Сравнить
            .product-action.share
                +icon('share','product-action__icon')
                a(href="") Поделиться
                .share-popup
                    .share-line
                        +icon('share','share__icon')
                        a(href="") Скопировать ссылку
                    .share-line
                        +icon('mail','share__icon')
                        a(href="") Отправить ссылку на почту
                    .share-line
                        +icon('vk','share__icon')
                        a(href="") Версия для печати
                    .share-line
                        +icon('share','share__icon')
                        a(href="") Поделиться с друзьями