section.product
    .container
        .product-content
            .product-gallery
                .product-gallery-main
                    .product-gallery-controls.product-gallery-controls--prev
                        +icon('chevron-left','product-gallery-controls__icon')
                    .product-gallery-controls.product-gallery-controls--next
                        +icon('chevron-right','product-gallery-controls__icon')
                    .js-product-gallery
                        .product-gallery__item
                            img(src="static/images/content/products/product1/gallery-1.jpeg")
                        .product-gallery__item
                            img(src="static/images/content/products/product1/gallery-2.jpeg")
                .product-gallery-nav
                    .js-product-gallery-nav
                        .product-gallery-nav__item
                            img(src="static/images/content/products/product1/gallery-prev-1.jpeg")
                        .product-gallery-nav__item
                            img(src="static/images/content/products/product1/gallery-prev-2.jpeg")
            .product-info
                h2.g-section-title.g-section-title--product Бокал для бордо 540 мл Stolzle Weinland
                .product-fast-info
                    .product-specification
                        +productInfoLine('Артикул: ','111-058-2')
                        +productInfoLine('Торговая марка: ','Stolzle Weinland')
                        +productInfoLine('Серия: ','Серия Stolzle')
                        //ul.product-specification-list
                            //li.product-specification-list__item
                                //+icon('какие-то иконки')
                    .product-callback
                        +icon('phone','product-callback__icon')
                        a(href="tel:8800800800").product-callback__phone 8 800 800-800
                        a(href="").product-callback__link Обратный звонок
                        span.product-callback__text Позвоните и наши консультанты помогут сделать выбор
                .product-price-info
                    span.product-price 635 &#8381;
                    .product-availability
                        +icon('mark','product-action__icon')
                        span Есть в наличии
                    .product-feedback
                        +icon('mail','product-feedback__icon')
                        a(href="") Обратная связь
                .product-buttons
                    a(href="").g-btn.g-btn--black Добавить в корзину
                    a(href="").g-btn.g-btn--border-black Купить в 1 клик
                .product-actions
                    .product-action.product-action--favorite
                        +icon('favorites','product-action__icon')
                        a(href="") В избранное
                    .product-action.product-action--comparison
                        +icon('comparison','product-action__icon')
                        a(href="") Сравнить
                    .product-action.share
                        +icon('share','product-action__icon')
                        a(href="") Поделиться
                        .share-popup
                            .share-line
                                +icon('share','share__icon')
                                a(href="") Скопировать ссылку
                            .share-line
                                +icon('mail','share__icon')
                                a(href="") Отправить ссылку на почту
                            .share-line
                                +icon('vk','share__icon')
                                a(href="") Версия для печати
                            .share-line
                                +icon('share','share__icon')
                                a(href="") Поделиться с друзьями
                .product-line
                    .product-delivery
                        .product-title-icon
                            +icon('delivery','product-title-icon__icon')
                            span Доставка
                        .product-delivery__info
                            span По Москве и МО возможна
                            span.product-delivery__date#delivery-date 11.11.2016
                        .product-delivery__city
                            span Ваш город
                        ul.product-delivery-variants
                            li.product-delivery-variants__item
                                span.product-delivery-variants__key EMS Почта России
                                span.product-delivery-variants__val (500 р, 4-5 дней)
                    .product-warranty
                        .product-title-icon
                            +icon('warranty','product-title-icon__icon')
                            span Гарантия
                        span.product-warranty__text На этот товар в нашем магазине предоставляется гарантия сроком на 1 (один) год.