section.product-prev
    .container
        .product-content
            .product-gallery
            .product-info
                h2.g-section-title.g-section-title--product Бокал для бордо 540 мл Stolzle Weinland
                .product-fast-info
                    .product-specification
                        +productInfoLine('Артикул: ','111-058-2')
                        +productInfoLine('Торговая марка: ','Stolzle Weinland')
                        +productInfoLine('Серия: ','Серия Stolzle')
                        //ul.product-specification-list
                            //li.product-specification-list__item
                                //+icon('какие-то иконки')
                    .product-callback
                        +icon('phone','product-callback__icon')
                        a(href="tel:8800800800").product-callback__phone 8 800 800-800
                        a(href="").product-callback__link Обратный звонок
                        span.product-callback__text Позвоните и наши консультанты помогут сделать выбор
                .product-price-info
                    span.product-price 635 &#8381;
                    .product-availability
                        +icon('mark','product-prev__icon')
                        span Есть в наличии
                    .product-feedback
                        +icon('mail','product-feedback__icon')
                        a(href="") Обратная связь
                .product-buttons
                    a(href="").g-btn.g-btn--black Добавить в корзину
                    a(href="").g-btn.g-btn--border-black Купить в 1 клик
                .product-actions