// Colors
@white:       #ffffff;
@black:       #000000;
@redColor:    #ef4113;
@grayColor:   #7d7e7e;


// Sizes
@base-font-size: 16px;

@breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

@content-size: 1140px;

// Fonts
@thin-font:          'Clear Sans Thin',            Arial, sans-serif;
@light-font:         'Clear Sans Light',           Arial, sans-serif;
@main-font:          'Clear Sans',                 Arial, sans-serif;
@medium-font:        'Clear Sans Medium',          Arial, sans-serif;
@medium-italic-font: 'Clear Sans Medium Italic',   Arial, sans-serif;
@bold-font:          'Clear Sans Bold',            Arial, sans-serif;
@bold-italic-font:   'Clear Sans Bold Italic',     Arial, sans-serif;
@italic-font:        'Clear Sans Italic',          Arial, sans-serif;
